@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");

:root {
  --primary-desaturated-red: hsl(0, 36%, 70%);
  --primary-soft-red: hsl(0, 93%, 68%);

  --neutral-color1: hsl(0, 93%, 68%);

  --linear-gradient-light: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --linear-gradient-red: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );

  --ff-body: "Josefin Sans", sans-serif;

  /* Default Padding */
  --page-padding: 2rem 9%;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  /* max-width: 100%;
  height: auto; */
  display: inline-block;
  /* object-fit: cover; */
}

input[type="email"] {
  font-family: var(--ff-body);
}

html {
  font-size: 1rem;
}

body {
  font-family: var(--ff-body);
  /* background-image: var(--linear-gradient-light); */
}

.container {
  border: 2px solid blue;
}

/* Header Section */

header {
  display: flex;
  flex-direction: column;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  overflow-x: hidden;
}

/* Navbar */
.intro nav {
  padding: var(--page-padding);
}

.intro .navbar img {
  width: 7rem;
}

/* Content Section */

.content .content__img {
  /* border: 2px solid red; */
}

.content .content__text {
  /* border: 2px solid red; */
  padding: var(--page-padding);
  text-align: center;
  margin-top: 3rem;
}

.content__text h1 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  font-weight: 600;
}

.content .content__text h1 span {
  font-weight: 300;
  color: var(--primary-desaturated-red);
}

.content .content__text p {
  color: var(--primary-desaturated-red);
  /* font-size: 0.9rem; */
  line-height: 1.5;
  margin: 2rem 0;
}

form .form-container {
  border: 1.5px solid var(--primary-desaturated-red);
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
}

form .form-container input {
  padding: 1.3rem 0 1.3rem 2rem;
  width: 100%;
  outline: none !important;
  border: none;
  /* font-size: 1rem; */
}

form .form-container input::placeholder {
  color: var(--primary-desaturated-red);
}

form .form-container button {
  position: absolute;
  /* border: 1px solid red; */
  border-radius: 5rem;
  /* top: 50%;
  right: 0; */
  position: absolute;
  top: 50%;
  right: -2px;
  transform: translate(-0%, -50%);
  padding: 1.3rem 2rem;
  background-image: var(--linear-gradient-red);
  border: none;
}

.intro__img {
  display: none;
}

/* Footer */
.attribution {
  font-size: 0.8rem;
  text-align: center;
  padding: 2rem 9%;
  /* line-height: 1.5; */
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 674px) {
  main {
    /* height: 80vh; */
  }

  .container {
    /* height: 80vh; */
    /* width: 100vw; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  header.intro {
    padding: 2rem 6rem;
  }

  .content__text h1 {
    font-size: 5rem;
    letter-spacing: 1rem;
  }

  .content__img {
    display: none;
  }

  .content .content__text {
    text-align: left;
  }

  .intro__img {
    display: initial;
    /* background-image: url(../images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
  } */

  .intro__img img {
    
  }
}
